.project
/.project/
/.project
.settings
/.settings/
.classpath
.factorypath
/.gradle/
/gradle/
/.idea/
/build/
/out/
/target/
*.iml
nbactions.xml
/nb-configuration.xml
*.orig
/nbproject/
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
package-info.java