.project
/.project/
/.project
.settings
/.settings/
.classpath
.factorypath
/.idea/
/target/
/build/
/out/
/.gradle/
/gradle/
*.iml
nbactions.xml
/nb-configuration.xml
*.orig
/nbproject/
.DS_Store
._.DS_Store
**/.DS_Store